PM_ServicesProducts/SOA/WSDLs/ProductoAdicionales.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/salesforce/VentasMovil/PM_ServicesProducts/ProductoAdicionales" xmlns:ns0="http://xmlns.oracle.com/pcbpel/adapter/salesforce/VentasMovil/PM_ServicesProducts/ProductoAdicionales" xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/salesforce/VentasMovil/PM_ServicesProducts/ProductoAdicionales" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:enterprise.soap.sforce.com" xmlns:fns="urn:fault.enterprise.soap.sforce.com" xmlns:ens="urn:sobject.enterprise.soap.sforce.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="query_plt">
      <plnk:role name="query_role">
         <plnk:portType name="ns0:ProductoAdicionalesPortType"/>
      </plnk:role>
   </plnk:partnerLinkType>
   <wsdl:types>
      <xs:schema xmlns="urn:enterprise.soap.sforce.com" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:enterprise.soap.sforce.com" xmlns:ns5="urn:enterprise.soap.sforce.com">
         <xsd:simpleType name="QueryLocator">
            <xsd:restriction base="xsd:string"/>
         </xsd:simpleType>
         <xsd:simpleType name="ID">
            <xsd:restriction base="xsd:string">
               <xsd:length value="18"/>
               <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ExtendedErrorDetails">
            <xsd:sequence>
               <xsd:element name="extendedErrorCode" type="tns:ExtendedErrorCode"/>
               <xsd:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="ExtendedErrorCode">
            <xsd:restriction base="xsd:string"/>
         </xsd:simpleType>
      </xs:schema>
      <xs:schema xmlns="urn:fault.enterprise.soap.sforce.com" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:fault.enterprise.soap.sforce.com" xmlns:ns9="urn:fault.enterprise.soap.sforce.com">
         <xs:import namespace="urn:enterprise.soap.sforce.com"/>
         <xsd:element name="MalformedQueryFault" type="fns:MalformedQueryFault"/>
         <xsd:complexType name="MalformedQueryFault">
            <xsd:complexContent>
               <xsd:extension base="fns:ApiQueryFault"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="ApiQueryFault">
            <xsd:complexContent>
               <xsd:extension base="fns:ApiFault">
                  <xsd:sequence>
                     <xsd:element name="row" type="xsd:int"/>
                     <xsd:element name="column" type="xsd:int"/>
                  </xsd:sequence>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="ApiFault">
            <xsd:sequence>
               <xsd:element name="exceptionCode" type="fns:ExceptionCode"/>
               <xsd:element name="exceptionMessage" type="xsd:string"/>
               <xsd:element name="extendedErrorDetails" type="tns:ExtendedErrorDetails" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="ExceptionCode">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="APEX_TRIGGER_COUPLING_LIMIT"/>
               <xsd:enumeration value="API_CURRENTLY_DISABLED"/>
               <xsd:enumeration value="API_DISABLED_FOR_ORG"/>
               <xsd:enumeration value="ARGUMENT_OBJECT_PARSE_ERROR"/>
               <xsd:enumeration value="ASYNC_OPERATION_LOCATOR"/>
               <xsd:enumeration value="ASYNC_QUERY_UNSUPPORTED_QUERY"/>
               <xsd:enumeration value="BATCH_PROCESSING_HALTED"/>
               <xsd:enumeration value="BIG_OBJECT_UNSUPPORTED_OPERATION"/>
               <xsd:enumeration value="CANNOT_DELETE_ENTITY"/>
               <xsd:enumeration value="CANNOT_DELETE_OWNER"/>
               <xsd:enumeration value="CANT_ADD_STANDADRD_PORTAL_USER_TO_TERRITORY"/>
               <xsd:enumeration value="CANT_ADD_STANDARD_PORTAL_USER_TO_TERRITORY"/>
               <xsd:enumeration value="CIRCULAR_OBJECT_GRAPH"/>
               <xsd:enumeration value="CLIENT_NOT_ACCESSIBLE_FOR_USER"/>
               <xsd:enumeration value="CLIENT_REQUIRE_UPDATE_FOR_USER"/>
               <xsd:enumeration value="CONTENT_CUSTOM_DOWNLOAD_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_AUTHENTICATION_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_FILE_DOWNLOAD_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_FILE_NOT_FOUND_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_INVALID_OBJECT_TYPE_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_INVALID_PAGE_NUMBER_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_INVALID_PAYLOAD"/>
               <xsd:enumeration value="CONTENT_HUB_INVALID_RENDITION_PAGE_NUMBER_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_ITEM_TYPE_NOT_FOUND_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_OBJECT_NOT_FOUND_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_OPERATION_NOT_SUPPORTED_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_SECURITY_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_TIMEOUT_EXCEPTION"/>
               <xsd:enumeration value="CONTENT_HUB_UNEXPECTED_EXCEPTION"/>
               <xsd:enumeration value="CUSTOM_METADATA_LIMIT_EXCEEDED"/>
               <xsd:enumeration value="CUSTOM_SETTINGS_LIMIT_EXCEEDED"/>
               <xsd:enumeration value="DATACLOUD_API_CLIENT_EXCEPTION"/>
               <xsd:enumeration value="DATACLOUD_API_DISABLED_EXCEPTION"/>
               <xsd:enumeration value="DATACLOUD_API_INVALID_QUERY_EXCEPTION"/>
               <xsd:enumeration value="DATACLOUD_API_SERVER_BUSY_EXCEPTION"/>
               <xsd:enumeration value="DATACLOUD_API_SERVER_EXCEPTION"/>
               <xsd:enumeration value="DATACLOUD_API_TIMEOUT_EXCEPTION"/>
               <xsd:enumeration value="DATACLOUD_API_UNAVAILABLE"/>
               <xsd:enumeration value="DUPLICATE_ARGUMENT_VALUE"/>
               <xsd:enumeration value="DUPLICATE_VALUE"/>
               <xsd:enumeration value="EMAIL_BATCH_SIZE_LIMIT_EXCEEDED"/>
               <xsd:enumeration value="EMAIL_TO_CASE_INVALID_ROUTING"/>
               <xsd:enumeration value="EMAIL_TO_CASE_LIMIT_EXCEEDED"/>
               <xsd:enumeration value="EMAIL_TO_CASE_NOT_ENABLED"/>
               <xsd:enumeration value="ENVIRONMENT_HUB_MEMBERSHIP_CONFLICT"/>
               <xsd:enumeration value="EXCEEDED_ID_LIMIT"/>
               <xsd:enumeration value="EXCEEDED_LEAD_CONVERT_LIMIT"/>
               <xsd:enumeration value="EXCEEDED_MAX_SIZE_REQUEST"/>
               <xsd:enumeration value="EXCEEDED_MAX_TYPES_LIMIT"/>
               <xsd:enumeration value="EXCEEDED_QUOTA"/>
               <xsd:enumeration value="EXTERNAL_OBJECT_AUTHENTICATION_EXCEPTION"/>
               <xsd:enumeration value="EXTERNAL_OBJECT_CONNECTION_EXCEPTION"/>
               <xsd:enumeration value="EXTERNAL_OBJECT_EXCEPTION"/>
               <xsd:enumeration value="EXTERNAL_OBJECT_UNSUPPORTED_EXCEPTION"/>
               <xsd:enumeration value="FEDERATED_SEARCH_ERROR"/>
               <xsd:enumeration value="FEED_NOT_ENABLED_FOR_OBJECT"/>
               <xsd:enumeration value="FUNCTIONALITY_NOT_ENABLED"/>
               <xsd:enumeration value="FUNCTIONALITY_TEMPORARILY_UNAVAILABLE"/>
               <xsd:enumeration value="ILLEGAL_QUERY_PARAMETER_VALUE"/>
               <xsd:enumeration value="INACTIVE_OWNER_OR_USER"/>
               <xsd:enumeration value="INACTIVE_PORTAL"/>
               <xsd:enumeration value="INSERT_UPDATE_DELETE_NOT_ALLOWED_DURING_MAINTENANCE"/>
               <xsd:enumeration value="INSUFFICIENT_ACCESS"/>
               <xsd:enumeration value="INTERNAL_CANVAS_ERROR"/>
               <xsd:enumeration value="INVALID_ASSIGNMENT_RULE"/>
               <xsd:enumeration value="INVALID_BATCH_REQUEST"/>
               <xsd:enumeration value="INVALID_BATCH_SIZE"/>
               <xsd:enumeration value="INVALID_CLIENT"/>
               <xsd:enumeration value="INVALID_CROSS_REFERENCE_KEY"/>
               <xsd:enumeration value="INVALID_DATE_FORMAT"/>
               <xsd:enumeration value="INVALID_FIELD"/>
               <xsd:enumeration value="INVALID_FILTER_LANGUAGE"/>
               <xsd:enumeration value="INVALID_FILTER_VALUE"/>
               <xsd:enumeration value="INVALID_ID_FIELD"/>
               <xsd:enumeration value="INVALID_INPUT_COMBINATION"/>
               <xsd:enumeration value="INVALID_LOCALE_LANGUAGE"/>
               <xsd:enumeration value="INVALID_LOCATOR"/>
               <xsd:enumeration value="INVALID_LOGIN"/>
               <xsd:enumeration value="INVALID_MULTIPART_REQUEST"/>
               <xsd:enumeration value="INVALID_NEW_PASSWORD"/>
               <xsd:enumeration value="INVALID_OPERATION"/>
               <xsd:enumeration value="INVALID_OPERATION_WITH_EXPIRED_PASSWORD"/>
               <xsd:enumeration value="INVALID_PACKAGE_VERSION"/>
               <xsd:enumeration value="INVALID_PAGING_OPTION"/>
               <xsd:enumeration value="INVALID_QUERY_FILTER_OPERATOR"/>
               <xsd:enumeration value="INVALID_QUERY_LOCATOR"/>
               <xsd:enumeration value="INVALID_QUERY_SCOPE"/>
               <xsd:enumeration value="INVALID_REPLICATION_DATE"/>
               <xsd:enumeration value="INVALID_SEARCH"/>
               <xsd:enumeration value="INVALID_SEARCH_SCOPE"/>
               <xsd:enumeration value="INVALID_SESSION_ID"/>
               <xsd:enumeration value="INVALID_SOAP_HEADER"/>
               <xsd:enumeration value="INVALID_SORT_OPTION"/>
               <xsd:enumeration value="INVALID_SSO_GATEWAY_URL"/>
               <xsd:enumeration value="INVALID_TYPE"/>
               <xsd:enumeration value="INVALID_TYPE_FOR_OPERATION"/>
               <xsd:enumeration value="JIGSAW_ACTION_DISABLED"/>
               <xsd:enumeration value="JIGSAW_IMPORT_LIMIT_EXCEEDED"/>
               <xsd:enumeration value="JIGSAW_REQUEST_NOT_SUPPORTED"/>
               <xsd:enumeration value="JSON_PARSER_ERROR"/>
               <xsd:enumeration value="KEY_HAS_BEEN_DESTROYED"/>
               <xsd:enumeration value="LICENSING_DATA_ERROR"/>
               <xsd:enumeration value="LICENSING_UNKNOWN_ERROR"/>
               <xsd:enumeration value="LIMIT_EXCEEDED"/>
               <xsd:enumeration value="LOGIN_CHALLENGE_ISSUED"/>
               <xsd:enumeration value="LOGIN_CHALLENGE_PENDING"/>
               <xsd:enumeration value="LOGIN_DURING_RESTRICTED_DOMAIN"/>
               <xsd:enumeration value="LOGIN_DURING_RESTRICTED_TIME"/>
               <xsd:enumeration value="LOGIN_MUST_USE_SECURITY_TOKEN"/>
               <xsd:enumeration value="MALFORMED_ID"/>
               <xsd:enumeration value="MALFORMED_QUERY"/>
               <xsd:enumeration value="MALFORMED_SEARCH"/>
               <xsd:enumeration value="MISSING_ARGUMENT"/>
               <xsd:enumeration value="MISSING_RECORD"/>
               <xsd:enumeration value="MODIFIED"/>
               <xsd:enumeration value="MUTUAL_AUTHENTICATION_FAILED"/>
               <xsd:enumeration value="NOT_ACCEPTABLE"/>
               <xsd:enumeration value="NOT_MODIFIED"/>
               <xsd:enumeration value="NO_SOFTPHONE_LAYOUT"/>
               <xsd:enumeration value="NUMBER_OUTSIDE_VALID_RANGE"/>
               <xsd:enumeration value="OPERATION_TOO_LARGE"/>
               <xsd:enumeration value="ORG_IN_MAINTENANCE"/>
               <xsd:enumeration value="ORG_IS_DOT_ORG"/>
               <xsd:enumeration value="ORG_IS_SIGNING_UP"/>
               <xsd:enumeration value="ORG_LOCKED"/>
               <xsd:enumeration value="ORG_NOT_OWNED_BY_INSTANCE"/>
               <xsd:enumeration value="PASSWORD_LOCKOUT"/>
               <xsd:enumeration value="PORTAL_NO_ACCESS"/>
               <xsd:enumeration value="POST_BODY_PARSE_ERROR"/>
               <xsd:enumeration value="QUERY_TIMEOUT"/>
               <xsd:enumeration value="QUERY_TOO_COMPLICATED"/>
               <xsd:enumeration value="REQUEST_LIMIT_EXCEEDED"/>
               <xsd:enumeration value="REQUEST_RUNNING_TOO_LONG"/>
               <xsd:enumeration value="SERVER_UNAVAILABLE"/>
               <xsd:enumeration value="SERVICE_DESK_NOT_ENABLED"/>
               <xsd:enumeration value="SOCIALCRM_FEEDSERVICE_API_CLIENT_EXCEPTION"/>
               <xsd:enumeration value="SOCIALCRM_FEEDSERVICE_API_SERVER_EXCEPTION"/>
               <xsd:enumeration value="SOCIALCRM_FEEDSERVICE_API_UNAVAILABLE"/>
               <xsd:enumeration value="SSO_SERVICE_DOWN"/>
               <xsd:enumeration value="SST_ADMIN_FILE_DOWNLOAD_EXCEPTION"/>
               <xsd:enumeration value="TOO_MANY_APEX_REQUESTS"/>
               <xsd:enumeration value="TOO_MANY_RECIPIENTS"/>
               <xsd:enumeration value="TOO_MANY_RECORDS"/>
               <xsd:enumeration value="TRIAL_EXPIRED"/>
               <xsd:enumeration value="TXN_SECURITY_END_A_SESSION"/>
               <xsd:enumeration value="TXN_SECURITY_NO_ACCESS"/>
               <xsd:enumeration value="TXN_SECURITY_TWO_FA_REQUIRED"/>
               <xsd:enumeration value="UNABLE_TO_LOCK_ROW"/>
               <xsd:enumeration value="UNKNOWN_ATTACHMENT_EXCEPTION"/>
               <xsd:enumeration value="UNKNOWN_EXCEPTION"/>
               <xsd:enumeration value="UNKNOWN_ORG_SETTING"/>
               <xsd:enumeration value="UNSUPPORTED_API_VERSION"/>
               <xsd:enumeration value="UNSUPPORTED_ATTACHMENT_ENCODING"/>
               <xsd:enumeration value="UNSUPPORTED_CLIENT"/>
               <xsd:enumeration value="UNSUPPORTED_MEDIA_TYPE"/>
               <xsd:enumeration value="XML_PARSER_ERROR"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:element name="InvalidIdFault" type="fns:InvalidIdFault"/>
         <xsd:complexType name="InvalidIdFault">
            <xsd:complexContent>
               <xsd:extension base="fns:ApiFault"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:element name="InvalidFieldFault" type="fns:InvalidFieldFault"/>
         <xsd:complexType name="InvalidFieldFault">
            <xsd:complexContent>
               <xsd:extension base="fns:ApiQueryFault"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:element name="InvalidSObjectFault" type="fns:InvalidSObjectFault"/>
         <xsd:complexType name="InvalidSObjectFault">
            <xsd:complexContent>
               <xsd:extension base="fns:ApiQueryFault"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:element name="InvalidQueryLocatorFault" type="fns:InvalidQueryLocatorFault"/>
         <xsd:complexType name="InvalidQueryLocatorFault">
            <xsd:complexContent>
               <xsd:extension base="fns:ApiFault"/>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:element name="UnexpectedErrorFault" type="fns:UnexpectedErrorFault"/>
         <xsd:complexType name="UnexpectedErrorFault">
            <xsd:complexContent>
               <xsd:extension base="fns:ApiFault"/>
            </xsd:complexContent>
         </xsd:complexType>
      </xs:schema>
      <xs:schema xmlns="http://xml.oracle.com/types/ProductoAdicionales" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.oracle.com/types/ProductoAdicionales" xmlns:ns3="http://xml.oracle.com/types/ProductoAdicionales">
         <xs:complexType name="QueryParameters">
            <xs:all>
               <xs:element name="DP_PlanServicio__c" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns="urn:sobject.enterprise.soap.sforce.com" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sobject.enterprise.soap.sforce.com" xmlns:ns7="urn:sobject.enterprise.soap.sforce.com">
         <xs:import namespace="urn:enterprise.soap.sforce.com"/>
         <xsd:complexType name="sObject">
            <xsd:sequence>
               <xsd:element name="fieldsToNull" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="Id" type="tns:ID" nillable="true"/>
            </xsd:sequence>
         </xsd:complexType>
      </xs:schema>
      <xs:schema xmlns="http://xmlns.oracle.com/pcbpel/adapter/salesforce/VentasMovil/PM_ServicesProducts/ProductoAdicionales" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/salesforce/VentasMovil/PM_ServicesProducts/ProductoAdicionales" xmlns:ns2="http://xmlns.oracle.com/pcbpel/adapter/salesforce/VentasMovil/PM_ServicesProducts/ProductoAdicionales" xmlns:ns4="http://xml.oracle.com/types/ProductoAdicionales" xmlns:ns6="urn:enterprise.soap.sforce.com" xmlns:ns8="urn:sobject.enterprise.soap.sforce.com">
         <xs:import namespace="urn:sobject.enterprise.soap.sforce.com"/>
         <xs:import namespace="http://xml.oracle.com/types/ProductoAdicionales"/>
         <xs:import namespace="urn:enterprise.soap.sforce.com"/>
         <xs:element name="query" type="ns2:queryType"/>
         <xs:complexType name="queryType">
            <xs:sequence>
               <xs:element name="QueryParameters" type="ns4:QueryParameters"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="queryResponse" type="ns2:queryResponseType"/>
         <xs:complexType name="queryResponseType">
            <xs:sequence>
               <xs:element name="QueryResults" type="ns2:QueryResults"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="QueryResults">
            <xs:sequence>
               <xs:element name="done" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
               <xs:element name="queryLocator" type="ns6:QueryLocator" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="size" type="xs:int" minOccurs="1" maxOccurs="1"/>
               <xs:element name="records" type="ns2:DP_ServicioProducto__cs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="DP_ServicioProducto__cs">
            <xs:sequence>
               <xs:element name="IdBrmForward__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="MaximoAgregar__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="Plazo__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="IEPS__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="DP_ProductoCaracteristicaId__r" type="ns2:DP_ProductoCaracteristicaId__rs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="EsCargoUnico__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="PrecioBase__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="CantidadTroncal__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="IdBrmCU__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="EsAutomaticoCiudad__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="PrecioEditable__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="EsVisible__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="Comentario__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="ProductoPadre__c" type="ns6:ID" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="Name" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="Estatus__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="TipoProductoTexto__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="PlanDescuentoId__c" type="ns6:ID" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="IdBrmArrear__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="CantidadDN__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="AgrupacionAddon__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="IVA__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="Id" type="ns6:ID" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="PrecioProntoPago__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="TipoProducto__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
               <xs:element name="NombreEditable__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="DP_ProductoCaracteristicaId__rs">
            <xs:complexContent>
               <xs:extension base="ns8:sObject">
                  <xs:sequence>
                     <xs:element name="Cantidad__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="FechaInicio__c" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="TieneSTBAdicional__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="Comentario__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="ProductoId__r" type="ns2:ProductoId__rDP_Producto__cs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="Name" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="Estatus__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="ProductoId__c" type="ns6:ID" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="EsWiFi__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="TieneIPFija__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="FechaFin__c" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="EsCCTV__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="Ciudad__c" type="ns6:ID" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="Id" type="ns6:ID" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element name="TipoProducto__c" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="VelocidadSubida__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="TieneIPDinamica__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="VelocidadBajada__c" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:complexType name="ProductoId__rDP_Producto__cs">
            <xs:sequence>
               <xs:element name="EsProntoPago__c" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="queryRequestMessage">
      <wsdl:part name="parameters" element="ns0:query"/>
   </wsdl:message>
   <wsdl:message name="queryResponseMessage">
      <wsdl:part name="parameters" element="ns0:queryResponse"/>
   </wsdl:message>
   <wsdl:message name="InvalidSObjectFault">
      <wsdl:part name="parameters" element="fns:InvalidSObjectFault"/>
   </wsdl:message>
   <wsdl:message name="MalformedQueryFault">
      <wsdl:part name="parameters" element="fns:MalformedQueryFault"/>
   </wsdl:message>
   <wsdl:message name="InvalidIdFault">
      <wsdl:part name="parameters" element="fns:InvalidIdFault"/>
   </wsdl:message>
   <wsdl:message name="InvalidFieldFault">
      <wsdl:part name="parameters" element="fns:InvalidFieldFault"/>
   </wsdl:message>
   <wsdl:message name="UnexpectedErrorFault">
      <wsdl:part name="parameters" element="fns:UnexpectedErrorFault"/>
   </wsdl:message>
   <wsdl:message name="InvalidQueryLocatorFault">
      <wsdl:part name="parameters" element="fns:InvalidQueryLocatorFault"/>
   </wsdl:message>
   <wsdl:portType name="ProductoAdicionalesPortType">
      <wsdl:operation name="query">
         <cloud:CloudOperation xmlns:cloud="http://xml.oracle.com/types" targetOperation="query"/>
         <wsdl:input message="ns0:queryRequestMessage"/>
         <wsdl:output message="ns0:queryResponseMessage"/>
         <wsdl:fault name="InvalidSObjectFault" message="ns0:InvalidSObjectFault"/>
         <wsdl:fault name="MalformedQueryFault" message="ns0:MalformedQueryFault"/>
         <wsdl:fault name="InvalidIdFault" message="ns0:InvalidIdFault"/>
         <wsdl:fault name="InvalidFieldFault" message="ns0:InvalidFieldFault"/>
         <wsdl:fault name="UnexpectedErrorFault" message="ns0:UnexpectedErrorFault"/>
         <wsdl:fault name="InvalidQueryLocatorFault" message="ns0:InvalidQueryLocatorFault"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
